@import "css-reset";

$logo-color: #f4d35e;
$primary: #0d3b66;
$primary-text: #fff;
$secondary: #faf0ca;
$secondary-text: #000;
$muted-color: #6c757d;

/* Set box-sizing */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// text styling
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5,
p {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

p {
	line-height: 1.2em;
}

// main header
header {
	max-width: 100%;
	background-color: $primary;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.contact-info {
		padding: 2% 8%;
	}
	a {
		color: $primary-text;
		text-decoration: none;
		padding: 0.5em;
		font-size: 1.2em;
	}
	a:hover {
		color: $logo-color;
	}
}

// Logo
.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	padding: 2% 5%;
	.logo-color {
		color: $logo-color;
	}
	.logo {
		padding: 0.3em;
		font-size: 1.5em;
	}
	.logo-text {
		font-size: 2em;
	}
}

// main content area
main {
	background: linear-gradient(#fff, #eee);
	height: 110%;
}

.container {
	margin: 0.5em;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	max-width: 100%;
	padding-top: 2em;
	padding-bottom: 4em;
}

small {
	color: $muted-color;
}

// About section
.about {
	display: flex;
	align-items: stretch;
	max-width: 500px;
}

.img-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-right: 10px;
	img {
		width: 100px;
		border-radius: 10%;
	}
	img,
	figcaption {
		margin: 0 auto;
		font-size: 0.7em;
	}
	a {
		text-decoration: none;
		color: $muted-color;
	}
}

.card {
	border: solid 1px $muted-color;
	padding: 1.5em;
	border-radius: 10%;
	background-color: #fff;
}

.about-text {
	max-width: 500px;
	h2 {
		margin-bottom: 0.6em;
	}
	p {
		line-height: 1.5em;
		margin-bottom: 1em;
	}
}

// services section
.services-container {
	position: relative;
	text-align: center;
	h2 {
		margin-bottom: 1.2em;
	}
	li {
		padding: 0.5em;
		margin-left: 1em;
	}
	p {
		font-size: 1.2em;
	}
}

.services {
	display: flex;
}

.services::before {
	content: "";
	width: 90%;
	border-top: solid 1px $muted-color;
	position: absolute;
	z-index: 1;
	top: 20%;
	margin-bottom: 2em;
}
.services::after {
	content: "";
	width: 90%;
	border-bottom: solid 1px $muted-color;
	position: absolute;
	z-index: 1;
	bottom: 15%;
}

// footer
footer {
	padding: 30px;
	text-align: center;
	h3 {
		padding: 20px 0;
	}
	li {
		padding-bottom: 15px;
	}
	a {
		color: $muted-color;
		text-decoration: none;
	}
	a:hover {
		color: #000;
	}
}
